@model Infrastructure.ViewModels.UserViewModel

<div class="form-inline shadow p-3 mb-5 bg-light rounded">
	<div asp-validation-summary="All" style="font-size:23px; font-family:Impact, serif" class="text-danger text-center"></div>
	<div class="form-group">
		<label asp-for="FirstName"></label>
		<input class="form-control" type="text" placeholder="@Model.FirstName" readonly>
	</div>
	<div class="form-group">
		<label asp-for="LastName"></label>
		<input class="form-control" type="text" placeholder="@Model.LastName" readonly>
	</div>
	<div class="form-group">
		<label asp-for="Login"></label>
		<input class="form-control" type="text" placeholder="@Model.Login" readonly>
	</div>
	<div class="form-group">
		<label asp-for="HasGvsMeter"></label>
		<input class="form-control" type="text" placeholder="@Model.HasGvsMeter" readonly>
		<form asp-controller="Statistic" asp-action="CreateEnergyStatistic" method="get">
			<input type="text" id="userId" name="userId" value="@Model.Id" hidden="true" />
			<input type="submit" value="Редактировать" class="btn btn-outline-dark"/>
		</form>
	</div>
	<div class="form-group">
		<label asp-for="HasHvsMeter"></label>
		<input class="form-control" type="text" placeholder="@Model.HasHvsMeter" readonly>
	</div>
	<div class="form-group">
		<label asp-for="HasEnergyMeter"></label>
		<input class="form-control" type="text" placeholder="@Model.HasEnergyMeter" readonly>
	</div>
	
	<h3 class="mb-0 text-center ParagraphHome">Все показания по горячей воде</h3>
	<table class="table table-striped shadow p-3 mb-5 bg-light rounded">
		<thead>
		<tr>
			<th>Данные</th>
			<th>Дата фиксации</th>
			<th>Действие</th>
		</tr>
		</thead>
		@*<tbody>
		@foreach (var gvs in Model.GVSStatistic)
		{
			<tr>
				<th scope="row">@gvs.CurrentValue</th>
				<th scope="row">@gvs.Date</th>
				<td>
					<div class="btn-group" role="group">
						<form asp-controller="Dictionary" asp-action="EditReasonTitle" method="get">
							<input type="number" id="id" name="id" value="@gvs.Id" hidden="true"/>
							<input type="submit" value="Редактировать" class="btn btn-outline-dark"/>
						</form>
						<form asp-controller="Dictionary" asp-action="RemoveReasonTitle">
							<input type="number" id="id" name="id" value="@gvs.Id" hidden="true"/>
							<input type="submit" value="Удалить" class="btn btn-outline-dark"/>
						</form>
					</div>
				</td>
			</tr>
		}
		</tbody>*@
	</table>

</div>